# pixi environments
.pixi/*
!.pixi/config.toml
*.egg-info

# other files
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*~
.DS_Store

# data and Outputs
data/
outputs/

# secrets and environment variables
.env